<!doctype html>
<html>
  <head>
    <meta charset="utf-8">

    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

    <!-- For Bootstrap responsiveness -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= favicon_tag 'images/favicon.png' %>

    <!-- Use title if it's in the page YAML frontmatter -->
    <title>Arthur Littmann | Web developer</title>

    <meta name="description" content="I decided to learn how to code to enter the tech industry. Now I work as a web developer and teacher for one of the leading coding bootcamps in the world."/>

    <meta property="og:title" content="Arthur Littmann | Web developer"/>
    <meta property="og:image" content="http://i.imgur.com/oS1iShx.png"/>
    <meta property="og:site_name" content="arthur-littm.com"/>
    <meta property="og:description" content="I decided to learn how to code to enter the tech industry. Now I work as a web developer and teacher for one of the leading coding bootcamps in the world."/>

    <%= stylesheet_link_tag "all" %>

  </head>
  <% dark_pages = ["about-me.html"] %>
  <% mode = dark_pages.include?(current_page.path) ? "dark" : "normal" %>
  <body class="<%= mode %>">

    <div id="particles-js"></div>
    <%= partial "layouts/navbar" %>

    <%= yield %>

    <%= partial "layouts/footer" %>

    <script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenLite.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TimelineLite.min.js"></script>
    <%= javascript_include_tag  "all" %>
    <%= google_analytics_tag %>
  </body>
</html>
