<div class="home-banner">
  <div class="navbar">
    <div class="logo">
      <span id="letter">a</span>
      <span id="word">LITTMANN</span>
    </div>
  </div>
  <div class="home-banner-content">
    <h1>I am a fullstack developer</h1>
    <p class="hidden-xs">Give it your best shot!</p>
  </div>
  <canvas id="world" class="hidden-xs">
  </canvas>
</div>

<div class="blue-banner banner">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <div class="feature-card">
          <i class="fa fa-code fa-fw"></i>
          <h3>Web developer</h3>
          <p>Web developer at <a href="https://www.switchup.org/research/best-coding-bootcamps" target="_blank">Le Wagon</a> coding bootcamp, helping to develop their educational platform.</p>
        </div>
      </div>

      <div class="col-xs-12 col-md-4">
        <div class="feature-card">
          <i class="fa fa-graduation-cap fa-fw"></i>
          <h3>Teacher</h3>
          <p>Lead teacher in Le Wagon London, and also tought in other cities like Berlin, Milan, Bali, etc.</p>
        </div>
      </div>

      <div class="col-xs-12 col-md-4">
        <div class="feature-card">
          <i class="fa fa-line-chart fa-fw"></i>
          <h3>Business developer</h3>
          <p>Bachelor in Business Administration from ESSEC Business School.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="banner">
  <div class="container">
    <div class="banner-title">
      <h2>My story</h2>
    </div>
    <div class="row">
      <div class="col-xs-offset-1 col-xs-10">
        <div class="banner-content-big ">
          <p>Hi, I am a <%= (Time.now.year - 1994).floor %> years old developer and self-taught designer. Initially born in France, altough I spent most of my youth in Italy, now living in London.</p>

          <hr class="separator">

          <h3>💼 Experience</h3>
          <ul>
            <li>
              <strong>Le Wagon</strong> (Jan 2017 - Present), full-time employee and part of the team running things in London. I split my time between class management and engineering. Teaching all modules of the bootcamp (Ruby, OOP, Databases, Frontend, Javascript & Rails), coaching new teachers and developing the internal educational platforms.
            </li>
            <li>
              <strong>LeKiosk</strong> (Jan 2015 - Jun 2015), business development internship for an up and coming digital start up in Paris, taking care of sales, accounting and B2B partnerships. That's where I first saw developers at work which gave me the drive to learn how to code myself.
            </li>
          </ul>
          <hr class="separator">
          <h3>🏛 Education</h3>
          <ul>
            <li>
              <strong>Le Wagon</strong> batch #41 (Oct 2016 - Dec 2016), I decided to learn to code at Le Wagon coding bootcamp in London, a 9 week intensive program, during which I managed to build, with other students, one of my projects and first ever web app, a "TripAdvisor" for friends.
            </li>
            <li>
              <strong>ESSEC Business School</strong> (Sep 2012 - Jul 2016) Bachelor in Business Administration in Paris during which I studied mostly management, entrepreneurship & marketing. I also had the chance to study abroad twice, in Stirling & Sheffield (UK).
            </li>
            <li>
              <strong>European School</strong> (Sep 1998 - Jul 2012), international school in Varese, Italy, where I spent time with people from all around the world and learned how to speak 4 languages fluently.
            </li>
          </ul>
          <hr class="separator">
          <h3>🏖 Hobbies</h3>

          <p>When I'm not counting pixels or looking for a missing <code>&lt;/div&gt;</code>, I like to:</p>
          <ul>
            <li><strong>Travel</strong>, although I've only done 12% of the world according to <a href="https://itunes.apple.com/fr/app/been/id680148327?mt=8">been app</a>.</li>
            <li><strong>Scubadive</strong>, advanced open water diver, my favorite diving spot so far is the caribbean.</li>
            <li><strong>Snowboard</strong>, or any board sport really...</li>
            <li><strong>Film</strong> <a href="https://www.youtube.com/channel/UCC6p0L9affF4y4iIxB5jWoQ" target="_blank">videos</a> of the above activities with my GoPro.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="blue-banner banner map-banner">
    <div class="banner-title">
      <h2>Where am I ?</h2>
    </div>
    <div id="map" style="width: 100%; height: 400px;"></div>
</div>

<div class="banner">
  <div class="container">
    <div class="banner-title">
      <h2>What do people think ?</h2>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-4">
         <div class="recommendation-card">
            <p>Arthur is a coding natural and loves what he does. He puts in serious hours which clearly shows through his rapidly progressing skill set and quality.</p>
          <span>Edward, Manager at Le Wagon London</span>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="recommendation-card">
          <p>Arthur was a great project leader, and can work across the full stack. However, I think he has especially keen eye for design and frontend development.</p>
          <span>Phelim, Developer at BookingBug</span>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="recommendation-card">
          <p>Arthur is so approachable and lovely!! He’s always ready to help, doesn’t mind silly questions and cares about the little details. Working with Arthur is always super fun!</p>
          <span>Rebekah, Student from Le Wagon London #74</span>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="recommendation-card">
          <p>Arthur is a great teacher, both lecturing and one on one, he was able to explain things in a simple understandable way. Not only is he very skilled technically but has an eye for design.</p>
          <span>Samantha, Student from Le Wagon London #143</span>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="recommendation-card">
          <p>Arthur takes the cake on all fronts - as a teacher and tutor he's kind and patient, which alone are nice, but he is also super knowledgable and good at guiding students to their own solutions. Plus, he's an all around awesome human.</p>
          <span>Asia, Student from Le Wagon London #143</span>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="recommendation-card">
          <p>His broad understanding of web development makes him able to communicate very easily with any kind of student. On top of that, his friendly personality makes working with him a great experience.</p>
          <span>Daniel, Student from Le Wagon Berlin #65</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="blue-banner banner" id="launch-skills-target">
  <div class="container">
    <div class="banner-title">
      <h2>My skills</h2>
    </div>
    <div class="row">
      <% data.skills.each_with_index do |skill, index| %>

        <div class="col-xs-6 col-md-3">
          <div class="skill-card <%= skill['class'] %>">
            <div class="skill-circle" id="skill-<%= index %>" data-circle="<%= skill['level'] %>">
              <svg viewBox="0 0 100 100" style="display: block; width: 100%;">
                <path d="M 50,50 m 0,-45 a 45,45 0 1 1 0,90 a 45,45 0 1 1 0,-90" stroke="#FFFFFF" stroke-width="2" fill-opacity="0">
                </path>
              </svg>
            </div>
            <h4 class="skill-title"><%= skill['title'] %></h4>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="banner">
  <div class="container">
    <div class="banner-title">
      <h2>Personal projects</h2>
    </div>
    <div class="row">
      <% data.projects.each do |project| %>
        <div class="col-xs-12 col-md-4">
          <div class="project-card">
            <p class="project-category"><%= project.category.upcase %></p>
            <div class="project-img">
              <%= image_tag project.img %>
              <% if project.working %>
                <%= link_to "", project.url, target: "_blank", class: "project-link"  %>
              <% else %>
                <span class="disabled-project"><i class="fa fa-ban"></i> offline</span>
              <% end %>
            </div>
            <div class="project-info">
              <h3><%= project.title %></h3>
              <hr>
              <p class="description"><%= project.description %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>


<div class="blue-banner banner">
  <div class="container">
    <div class="banner-title">
      <h2>Want to get in touch ?</h2>
    </div>
    <div>
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3">
          <form method="POST" action="http://formspree.io/arthur.littmann@gmail.com">
            <input type="email" name="email" placeholder="Your email" class="form-control input-form-transparent" autocomplete="false">
            <input type="subject" name="subject" placeholder="Subject" class="form-control input-form-transparent">
            <textarea name="message" placeholder="Your message" class="form-control input-form-transparent"></textarea>
            <button type="submit" class="button button-white">SEND <i class="fa fa-paper-plane fa-fw"></i>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="banner">
  <div class="container">
    <div class="banner-title">
      <h2>What am I up to ?</h2>
    </div>
    <div class="row">
      <% data.instagram.each_with_index do |picture, index| %>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="insta-card <%= 'insta-margin-bottom' if index <= 3 %>">
            <a href="<%= picture['url'] %>" target="_blank" class="insta-link"></a>
            <img class="instagram-picture" src="<%= picture['src'] %>">
            <h3 class="insta-card-country"><%= picture['country'] %></h3>
          </div>
        </div>
      <% end %>
    </div>
    <hr class="separator">
    <div class="row videos-slick">
      <% data.videos.each do |video| %>
          <iframe class="yt-video" src="https://www.youtube.com/embed/<%= video['id'] %>?rel=0&showinfo=0" frameborder="0" allowfullscreen></iframe>
      <% end %>
    </div>
    <p class="padded-top text-right">
      <a href="https://www.youtube.com/channel/UCC6p0L9affF4y4iIxB5jWoQ">See more 🎬</a>
    </p>

  </div>
</div>


<!-- GMAP -->
<script src="https://maps.google.com/maps/api/js?key=AIzaSyBND4RH6r8iCF-17UMg__P3FBLaEaufv5Y"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/js-marker-clusterer/1.0.0/markerclusterer_compiled.js"></script>
<script src="https://cdn.rawgit.com/apneadiving/Google-Maps-for-Rails/master/js_compilation/gmaps_google.js"></script>
<!-- SLICK -->
<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>

<script>
  $( document ).ready(function() {

    // SKILLS
    var notFired = true;
    $(window).scroll(function() {
      var scrollReached = ($(window).scrollTop() >= ($("#launch-skills-target").position().top) - 200);
      if  (scrollReached && notFired) {
        <% data.skills.each_with_index do |skill, index| %>
          var id = "#skill-<%= index %>";
            $(id + " > svg").remove();
            launchSkills(id, <%= skill['level'].to_f %>, "<%= skill['start_color'] %>", "<%= skill['end_color'] %>");
        <% end %>
        notFired = false;
      }
    });

    // MATTER.JS
    launchSlingshot();

    // MAP
    createMap();

    // SLICK
    $('.videos-slick').slick({
      infinite: true,
      slidesToShow: 3,
      slidesToScroll: 3,
      arrows: true,
    });
  });
</script>
