<div class="home-banner">
  <div class="navbar">
    <div class="logo">
      <span id="letter">a</span>
      <span id="word">LITTMANN</span>
    </div>
  </div>
  <div class="home-banner-content">
    <h1>I am a fullstack developer</h1>
    <p class="hidden-xs">Give it your best shot!</p>
  </div>
  <canvas id="world" class="hidden-xs"></canvas>
</div>

<div class="blue-banner banner">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <div class="feature-card">
          <i class="fa fa-code fa-fw"></i>
          <h3>Web developer</h3>
          <p>Web developer at <a href="https://www.lewagon.com" target="_blank">Le Wagon</a> coding bootcamp, helping to develop their educational platform.</p>
        </div>
      </div>

      <div class="col-xs-12 col-md-4">
        <div class="feature-card">
          <i class="fa fa-graduation-cap fa-fw"></i>
          <h3>Teacher</h3>
          <p>Read <a href="https://www.lewagon.com/stories/arthur-littmann-web-developer-teacher" target="_blank">my story</a> on how I went from student to teacher at Le Wagon!</p>
        </div>
      </div>

      <div class="col-xs-12 col-md-4">
        <div class="feature-card">
          <i class="fa fa-line-chart fa-fw"></i>
          <h3>Business developer</h3>
          <p>Bachelor in Business Administration from ESSEC Business School.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="banner">
  <div class="container">
    <div class="banner-title">
      <h2>About me</h2>
    </div>
    <div class="row">
      <div class="col-xs-offset-1 col-xs-10">
        <div class="banner-content-big text-justify">
          <p>I am a <%= (Time.now.year - 1994).floor %> years old <strong>developer</strong> and self-taught <strong>designer</strong>. I was born in France but I moved to Italy where I lived for 15 years, after that I went to study business at ESSEC Business School in Paris for 4 years. During my years of studies I had the chance to live abroad in Stirling, Scotland and Sheffield, England. I also had the opportunity to work with a digital startup called <a href="https://www2.lekiosk.com/" target="_blank">LeKiosk</a>, which gave me my first insight of what developers could achieve! After graduating I decided to learn how to code to enter the tech industry.</p>
          <p>I decided to learn to code at Le Wagon coding bootcamp in London, a 9 week intensive program, during which I managed to build, with other students, one of my projects and first ever web app, a  <a href="https://like-minded-app.herokuapp.com/" target="_blank">"TripAdvisor" for friends</a>. After the bootcamp I started freelancing on various projects, where I consolidated my skills of developer and taught myself <strong>UI/UX design</strong>.</p>

          <p>I was then asked to become a Teaching Assistant on the following batches in Le Wagon London to help out students during the daily challenges, and I am now a full-time member of the team running Le Wagon, as a <strong>lead teacher and developer</strong>. I am mainly working from London, but I occasionnaly work from other cities where Le Wagon is present, like Paris, Berlin and many others.</p>

          <p>During my spare time I like to travel, scubadive, cycle,  snowboard (or any board sport really) or make <a href="https://www.youtube.com/channel/UCC6p0L9affF4y4iIxB5jWoQ" target="_blank">videos</a>.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="blue-banner banner map-banner">
    <div class="banner-title">
      <h2>Where am I ?</h2>
    </div>
    <div id="map" style="width: 100%; height: 400px;"></div>
</div>

<div class="banner">
  <div class="container">
    <div class="banner-title">
      <h2>What do people think ?</h2>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-4">
         <div class="recommendation-card">
            <p>Arthur is a coding natural and loves what he does. He puts in serious hours which clearly shows through his rapidly progressing skill set and quality.</p>
          <span>Edward, Manager at Le Wagon London</span>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="recommendation-card">
          <p>Arthur was a great project leader, and can work across the full stack. However, I think he has especially keen eye for design and frontend development.</p>
          <span>Phelim, Developer at BookingBug</span>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="recommendation-card">
          <p>Front end guru. Fantastic problem solving skills when dealing with back end problems and very good at using bootstrap effectively.</p>
          <span>Archie, Student from Le Wagon London</span>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="recommendation-card">
          <p>His broad understanding of web development makes him able to communicate very easily with any kind of student. On top of that, his friendly personality makes working with him a great experience.</p>
          <span>Daniel, Student from Le Wagon Berlin</span>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="recommendation-card">
          <p>Always keen to help out and try to get to the bottom of the problem you have. Really liked his ideas with front end too, he was always suggesting ways to improve or restructure.</p>
          <span>Jamie, Student from Le Wagon London</span>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="recommendation-card">
          <p>Arthur is so approachable and lovely!! He’s always ready to help, doesn’t mind silly questions and cares about the little details. Working alongside Arthur is always super fun!</p>
          <span>Rebekah, Student from Le Wagon London</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="blue-banner banner" id="launch-skills-target">
  <div class="container">
    <div class="banner-title">
      <h2>My skills</h2>
    </div>
    <div class="row">
      <% data.skills.each_with_index do |skill, index| %>

        <div class="col-xs-6 col-md-3">
          <div class="skill-card <%= skill['class'] %>">
            <div class="skill-circle" id="skill-<%= index %>" data-circle="<%= skill['level'] %>">
              <svg viewBox="0 0 100 100" style="display: block; width: 100%;">
                <path d="M 50,50 m 0,-45 a 45,45 0 1 1 0,90 a 45,45 0 1 1 0,-90" stroke="#FFFFFF" stroke-width="2" fill-opacity="0">
                </path>
              </svg>
            </div>
            <h4 class="skill-title"><%= skill['title'] %></h4>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="banner">
  <div class="container">
    <div class="banner-title">
      <h2>My work</h2>
    </div>
    <div class="row">
      <% data.stuff.each do |project| %>
        <div class="col-xs-12 col-md-6">
          <div class="project-card">
          <%= image_tag(project["image"]) %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="blue-banner banner">
  <div class="container">
    <div class="banner-title">
      <h2>Want to get in touch ?</h2>
    </div>
    <div>
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3">
          <form method="POST" action="http://formspree.io/arthur.littmann@gmail.com">
            <input type="email" name="email" placeholder="Your email" class="form-control input-form-transparent">
            <input type="subject" name="subject" placeholder="Subject" class="form-control input-form-transparent">
            <textarea name="message" placeholder="Your message" class="form-control input-form-transparent"></textarea>
            <button type="submit" class="button button-white">SEND <i class="fa fa-paper-plane fa-fw"></i>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="banner">
  <div class="container">
    <div class="banner-title">
      <h2>What am I doing ?</h2>
    </div>
    <div class="row videos-slick">
      <% data.videos.each do |video| %>
          <iframe class="yt-video" src="https://www.youtube.com/embed/<%= video['id'] %>?rel=0&showinfo=0" frameborder="0" allowfullscreen></iframe>
      <% end %>
    </div>
  </div>
</div>

<!-- GMAP -->
<script src="https://maps.google.com/maps/api/js?key=AIzaSyBND4RH6r8iCF-17UMg__P3FBLaEaufv5Y"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/js-marker-clusterer/1.0.0/markerclusterer_compiled.js"></script>
<script src="https://cdn.rawgit.com/apneadiving/Google-Maps-for-Rails/master/js_compilation/gmaps_google.js"></script>
<!-- SLICK -->
<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>

<script>
  $( document ).ready(function() {

    // SKILLS
    var notFired = true;
    $(window).scroll(function() {
      var scrollReached = ($(window).scrollTop() >= ($("#launch-skills-target").position().top) - 200);
      if  (scrollReached && notFired) {
        <% data.skills.each_with_index do |skill, index| %>
          var id = "#skill-<%= index %>";
            $(id + " > svg").remove();
            launchSkills(id, <%= skill['level'].to_f %>, "<%= skill['start_color'] %>", "<%= skill['end_color'] %>");
        <% end %>
        notFired = false;
      }
    });

    // MATTER.JS
    launchSlingshot();

    // MAP
    createMap();

    // SLICK
    $('.videos-slick').slick({
      infinite: true,
      slidesToShow: 3,
      slidesToScroll: 3,
      arrows: true,
    });
  });
</script>
